<?xml version="1.0"?> 
<!--
/**
 * @category    VertexSMB
 * @package     VertexSMB_TaxCE
 * @author      Alex Lukyanau <alukyanau@netatwork.com>
 * @license     http://opensource.org/licenses/OSL-3.0  The Open Software License 3.0 (OSL 3.0)
 * @link        http://www.magentocommerce.com/magento-connect/sales-tax-extension-for-vertex-smb-1.html
 */
-->
<config>
    <modules>
        <VertexSMB_TaxCE>
            <version>1.1.8</version>
        </VertexSMB_TaxCE>
    </modules> 
	<global>
           <blocks>
               <taxce>
                   <class>VertexSMB_TaxCE_Block</class>
               </taxce> 
               <adminhtml>
                   <rewrite>
                       <sales_order_view>VertexSMB_TaxCE_Block_Adminhtml_Order_View</sales_order_view>
                   </rewrite>
               </adminhtml>                
           </blocks>   
           <models>
               <taxce>
                       <class>VertexSMB_TaxCE_Model</class>
                       <resourceModel>taxce_resource</resourceModel>
               </taxce>        
               <tax>
                   <rewrite>
                       <sales_total_quote_tax>VertexSMB_TaxCE_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                   </rewrite>
              </tax> 
               <taxce_resource>
                   <class>VertexSMB_TaxCE_Model_Resource</class>
                   <entities>
	                   <taxrequest>
	                       <table>vertexsmb_taxrequest</table>
	                   </taxrequest>                  
                   </entities>                      
               </taxce_resource>                                        
           </models>  
           <helpers>
				<taxce>
					<class>VertexSMB_TaxCE_Helper</class>        		
				</taxce>
           </helpers> 
           <resources>
               <taxce_setup>
                   <setup>
                       <module>VertexSMB_TaxCE</module>
                       <class>VertexSMB_TaxCE_Model_Resource_Setup</class>
                   </setup>
                   <connection>
                       <use>core_setup</use>
                   </connection>
               </taxce_setup>
               <taxce_write>
                   <connection>
                       <use>core_write</use>
                   </connection>
               </taxce_write>
               <taxce_read>
                   <connection> 
                       <use>core_read</use>
                   </connection>
               </taxce_read>
          </resources>  
        <events>
			<sales_order_invoice_save_after>
				<observers>
					<vertexsmb_invoice_created_observer>
						<type>singleton</type>
						<class>taxce/observer</class>
						<method>invoiceCreated</method>
					</vertexsmb_invoice_created_observer>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_save_after>
				<observers>
					<vertexsmb_order_saved_observer>
						<type>singleton</type>
						<class>taxce/observer</class>
						<method>orderSaved</method>
					</vertexsmb_order_saved_observer>
				</observers>
			</sales_order_save_after> 
            <sales_order_creditmemo_refund>
                <observers>
                    <vertexsmb_order_creditmemo_observer>
                        <type>singleton</type>
                        <class>taxce/observer</class>
                        <method>orderCreditmemoRefund</method>
                    </vertexsmb_order_creditmemo_observer>
                </observers>
            </sales_order_creditmemo_refund>
            <adminhtml_init_system_config>
                <observers>
                    <vertexsmb_init_system_config>
                        <class>taxce/observer</class>
                        <method>changeSystemConfig</method>
                    </vertexsmb_init_system_config>
                </observers>
            </adminhtml_init_system_config>         
           </events>  
        <fieldsets>
            <sales_convert_quote_address>
                <tax_area_id>
                    <to_order_address>*</to_order_address>
                </tax_area_id>
            </sales_convert_quote_address>
        </fieldsets>                       
	</global> 
	<admin>     
        <routers> 
            <taxce>
                <use>admin</use>
                <args>
                    <module>VertexSMB_TaxCE</module>
                    <frontName>vertexsmb</frontName>
                </args>
            </taxce>            
            <adminhtml>
                <args>
                    <modules>
                        <VertexSMB_TaxCE before="Mage_Adminhtml">VertexSMB_TaxCE</VertexSMB_TaxCE>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin> 
	<adminhtml>
	        <layout>
	            <updates>
	                <taxce>
	                    <file>vertexsmb.xml</file>
	                </taxce>
	            </updates>
	        </layout>             
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<taxce>
					<file>vertexsmb.xml</file>
				</taxce>
			</updates>
		</layout>
		<routers>
			<checkout>
				<args>
					<modules>
						<VertexSMB_TaxCE before="Mage_Checkout">VertexSMB_TaxCE</VertexSMB_TaxCE>
					</modules>
				</args>
			</checkout>
			<taxce>
				<use>standard</use>
				<args>
					<module>VertexSMB_TaxCE</module>
					<frontName>vertexsmb</frontName>
				</args>
			</taxce>
		</routers>
	</frontend>            
    <default>
        <tax> 
            <vertexsmb_settings>
                <enable_vertexsmb><![CDATA[0]]></enable_vertexsmb>
                <trustedId><![CDATA[]]></trustedId>               
                <invoice_order><![CDATA[invoice_created]]></invoice_order>   
                <api_url><![CDATA[]]></api_url>  
                <address_api_url><![CDATA[]]></address_api_url>  
                <show_manual_button><![CDATA[0]]></show_manual_button> 
                <show_tarequest_popup><![CDATA[1]]></show_tarequest_popup>    
            </vertexsmb_settings>
            <classes>     
                <default_customer_code><![CDATA[General]]></default_customer_code>
                <creditmemo_adjustment_negative_code><![CDATA[adjustment-negative]]></creditmemo_adjustment_negative_code>
                <creditmemo_adjustment_positive_code><![CDATA[adjustment-positive]]></creditmemo_adjustment_positive_code>           
                <giftwrap_order_code><![CDATA[order-gift-wrapping]]></giftwrap_order_code>   
                <giftwrap_item_code><![CDATA[giftwrap-]]></giftwrap_item_code>                                            
                <printed_giftcard_code><![CDATA[printed-giftcard]]></printed_giftcard_code>
            </classes>           
        </tax>               
    </default>
    <crontab>
        <jobs>
            <vertexsmb_log_cleanup>
                <schedule>
                    <cron_expr>00 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>taxce/observer::cleanLogs</model>
                </run>
            </vertexsmb_log_cleanup>
        </jobs>
    </crontab>    
</config>


